{% extends "main.html" %}
{% block content %}
{% include "headers.html" %}

<div class = 'ui card centered grid'>
<div class="content">
    <div class="header">Delete Menu Item</div>
</div>

<div class = 'content'>
<form class='ui form' action="{{url_for('deleteItemList', category_id = item.category_id, item_id = item.id)}}" method = 'POST'>
    <div class="field">
        <label>Confirm Delete Item {{item.name}} from {{category_name}}?</label>
    </div>
    <button class="ui basic red button" type='submit'>Delete</button>

</form>
<a class="ui button" href='{{url_for('itemlist', category_id = item.category_id)}}'>Cancel</a>
{% endblock %}