{% extends "main.html" %}
{% block content %}
{% include "headers.html" %}
<div class = 'ui card centered grid'>
<div class="content">
    <div class="header">New Category</div>
</div>


<div class = 'content'>
<form class='ui form' action="{{url_for('newCategory')}}" method = 'POST'>
    <div class="field">
        <label>Name</label>
        <input type='text' size='250' name='name'>
        <label>Image Link</label>
        <input type='text' size='250' name='img'>
    </div>
    <button class="ui button" type="submit">Create New Category</button>
</form>
<a class="ui button" href='{{url_for('home')}}'>Cancel</a>
</div>
</div>
{% endblock %}